@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

#face {
  width:227px;
  height:302px;
}

.social {
  width:24px;
  height:auto;
  margin: auto auto 10px 10px;
}

.allsocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  background-color: #1c4c3c;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0em;
  justify-items: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow:auto;
}

.wrapper > div {
  background:#fff;
  padding: 1em;
}

.box1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.box2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.box3 {
  grid-column: 2/4;
  grid-row: 2/2;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: auto auto 5px 5px;
  cursor: pointer;
  background: #1c4c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.98);
}

@media(max-width: 950px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
  }

  .box1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .box2 {
    grid-column: 1/1;
    grid-row: 2/2;   
  }

  .box3 {
    grid-column: 1/1;
    grid-row: 3/3;   
  }
}

@media(max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
